---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";
const { slug } = Astro.params;
import { formatDate } from "../../utils";
import { SITE_URL } from "../../constants";
import WorkshopComponent from "../../components/Allworkshop.astro";

export async function getStaticPaths() {
  const allWorkshops: CollectionEntry<'workshops'>[]=await getCollection('workshops');
  
  return allWorkshops.map(entry=>({
    params: {
      slug: entry.id
    },
    props: {entry}
}));
}


if (slug === undefined) {
  throw new Error("Slug is required");
}

const { entry } = Astro.props;

if (entry === undefined) {
  return Astro.redirect("/404");
}

// TypeScript needs explicit type assertion since entry could be undefined
const { Content } = await entry.render();

// const allWorkshops = await getCollection("workshops");

// // Prepare slides for carousel
// const chunkSize = 4;
// const slides = [];
// for (let i = 0; i < allWorkshops.length; i += chunkSize) {
//   slides.push(
//     allWorkshops.slice(i, i + chunkSize).map((item) => ({
//       image: item.data.image,
//       title: item.data.title,
//       description: item.data.description,
//     }))
//   );
// }
---

<BaseLayout title={entry.data.title || "Workshop"}>
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4">{entry.data.title}</h1>
    <a
      href={SITE_URL +"workshop"}
      class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white"
      >Back To Articles</a
    >
  </div>
  <div class="grid grid-flow-col grid-rows-3 gap-4 p-12 pt-30">
    <img src={entry.data.image.src} alt="" class="row-span-3" />
    <h3 class="col-span-2 prose font-bold text-5xl">
      {entry.data.title}
    </h3>
    <p class="prose lg:prose-xl">{entry.data.description}</p>
  </div>
  <div class="col-span-2 row-span-2 p-10 prose lg:prose-p">
    <Content />
  </div>


    <!--<div class="grid grid-flow-col grid-rows-3 gap-4 p-12 pt-30">
      <img src={flyer.src} alt="" class="row-span-3" />
      <h3 class="col-span-2 prose font-bold text-5xl">
        {mostRecentArticle.data.title}
      </h3>
      <p class="prose lg:prose-xl">{mostRecentArticle.data.description}</p>
    </div>
    <div class="col-span-2 row-span-2 p-10 prose lg:prose-blockquote">
      <Content />
    </div> -->

  <div class="bg-slate-100 px-2 py-10 max-w-full">
    <h2 class="text-2xl text-center font-bold mb-6 text-gray-800">
      More Workshops
    </h2>
<!--    <WorkshopComponent slides={slides} client:load /> -->
  </div>
</BaseLayout>
<script>
  const nav = document.getElementsByTagName("header")[0];
  nav.classList.add("bg-black");
</script>
