---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_URL } from "../constants";
import { funders } from "../assets/funders/funders";
import Moose_Multiscale from "../assets/Gallery_Moose_Multiscale.webp";
import { Image } from "astro:assets";
import Tutorial from "../components/start.jsx";
import traub from "../assets/Traub2005.mp4";
import Publication from "../components/publication.astro";
import Features from "../components/features.tsx";
import Tutorials from "@/components/Tutorials.astro";
import InfoCard from "../components/InfoCard.astro";

const callToActionItems = [
  {
    title: "Read Our Blogs",
    description: "Explore insights, updates, and stories here.",
    href: "/blogs",
  },
  {
    title: "Events",
    description: "Workshops and events featuring MOOSE.",
    href: "/workshops",
  },
  {
    title: "Discussion and Support",
    description:
      "Discussions related to MOOSE. Find help, ask questions, and share.",
    href: "/community#support",
  },
];
---

<BaseLayout title="Home">
  <div
    class="relative isolate overflow-hidden
         flex items-center justify-center
         min-h-[80vh] sm:min-h-screen
         py-16 sm:py-0"
  >
    <!-- Background Video -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 -z-1 w-full h-full p-2 bg-black object-center"
    >
      <source src={traub} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <!-- Overlay -->
    <div class="absolute inset-0 -z-10 bg-black/40"></div>

    <!-- Foreground Content -->
    <div class="w-full px-4 sm:px-6">
      <div class="mx-auto max-w-3xl text-center">
        <h1
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-white inset-1"
          style="text-shadow: 0 0 15px rgba(255,255,255,0.3);"
        >
          Multiscale Object Oriented Simulation Environment
        </h1>

        <div class="p-1">
          <p
            class="mt-6 backdrop-blur-xs bg-radial text-base sm:text-lg md:text-xl text-white max-w-xl mx-auto"
          >
            Designed to simulate neural systems at every scale. From subcellular
            components and biochemical reactions to complex models of individual
            neurons, neural circuits, and large-scale neuronal networks.
          </p>
        </div>

        <div
          class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-4"
        >
          <button
            type="button"
            class="inline-flex transition-all text-white bg-brand-tertiary inset-1 hover:bg-brand-primary focus:outline-none focus:ring-4 focus:ring-blue-600 font-normal rounded-lg text-base px-5 py-2.5 mb-2 me-2"
          >
            <a
              href="https://moose.readthedocs.io/en/latest/user/py/quickstart/moose_quickstart.html"
            >
              Get started
            </a>
          </button>
          <button
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-black rounded-lg group bg-gradient-to-br from-brand-primary to-brand-tertiary group-hover:from-purple-600 group-hover:to-brand-primary hover:text-white focus:ring-4 focus:outline-4 focus:ring-red-900"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent"
            >
              <a href="https://moose.readthedocs.io/en/latest/index.html">
                Learn more →
              </a>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Features section -->
  <Features />

  <!-- <Tutorials /> -->
  <!-- Few tutorial -->
  <!-- <Tutorial client:load /> -->

  <!-- Publications Section -->

  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <Publication />
    </div>
  </section>
  <!-- Funders Section -->
  <div class="bg-white py-10 sm:py-15" id="funders">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-center">
      <h2 class="text-3xl sm:text-4xl font-semibold text-black mb-6 sm:mb-8">
        Funders
      </h2>

      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6
             gap-x-4 gap-y-6 sm:gap-x-8 sm:gap-y-10
             place-items-center"
      >
        {
          funders.map((funder) => (
            <div class="flex items-center justify-center w-full">
              <Image
                class="h-8 sm:h-10 md:h-12 w-auto object-contain"
                src={funder.src}
                alt={funder.name}
                width={158}
                height={48}
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Call to Action Section -->
  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
          callToActionItems.map((item) => (
            <InfoCard
              title={item.title}
              description={item.description}
              href={item.href}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  const nav = document.getElementsByTagName("header")[0];
  nav.classList.remove("bg-black");
  window.addEventListener("scroll", function () {
    if (window.scrollY > 0) {
      nav.classList.add("bg-black");
    } else {
      nav.classList.remove("bg-black");
    }
  });
</script>
