---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_URL } from "../constants";
import { funders } from "../assets/funders/funders";
import Moose_Multiscale from "../assets/Gallery_Moose_Multiscale.webp";
import { Image } from "astro:assets";
import Tutorial from "../components/start.jsx";
import traub from "../assets/Traub2005.mp4";
import Publication from "../components/publication.astro";
import Features from "../components/features.astro";
import Tutorials from "@/components/Tutorials.astro";
---

<BaseLayout title="Home">
  <div class="relative max-h-screen isolate px-6 pt-2 lg:px-8 md:min-h-84">
    <!-- Background Video -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 -z-1 w-full h-full p-2 bg-black object-fit object-center opacity-100"
    >
      <source src={traub} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="absolute inset-0.25 -z-10 bg-black/.10"></div>

    <!-- Foreground Content-->
    <div class="flex items-center justify-center px-4">
      <div class="max-w-2xl text-center py-20 sm:py-24">
        <h1
          class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-7xl font-bold text-white inset-1 break-words"
          style="text-shadow: 0 0 15px rgba(255,255,255,0.3);"
        >
          Multiscale Object Oriented Simulation Environment
        </h1>

        <div class="p-1">
          <p
            class="mt-6 backdrop-blur-xs bg-radial text-base sm:text-lg md:text-xl text-white max-w-xl mx-auto"
          >
            Designed to simulate neural systems ranging from subcellular
            components and biochemical reactions to complex models of single
            neurons, circuits, and large networks.
          </p>
        </div>

        <div
          class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-4"
        >
          <button
            type="button"
            class="inline-flex transition-all text-white bg-brand-tertiary inset-1 hover:bg-brand-primary focus:outline-none focus:ring-4 focus:ring-blue-600 font-normal rounded-lg text-base px-5 py-2.5 mb-2 me-2"
          >
            <a
              href="https://moose.readthedocs.io/en/latest/user/py/quickstart/moose_quickstart.html"
            >
              Get started
            </a>
          </button>
          <button
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-black rounded-lg group bg-gradient-to-br from-brand-primary to-brand-tertiary group-hover:from-purple-600 group-hover:to-brand-primary hover:text-white focus:ring-4 focus:outline-4 focus:ring-red-900"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent"
            >
              <a href="https://moose.readthedocs.io/en/latest/index.html">
                Learn more →
              </a>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Features section -->
  <Features />
  <Tutorials />
  <!-- News Section
  <div class="bg-white py-10">
    <div class="mx-auto max-w-7xl px-6">
      <div class="mx-auto py-2 max-w-2xl">
        <h2 class="text-4xl font-semibold  text-gray-900">
          News
        </h2>
      </div>
      <div
        class="mt-10 grid grid-cols-1 gap-6 border-t border-gray-200 pt-10 bg-blue-50"
      >
        {
          events.map((post) => (
            <article class="flex flex-col max-w-xl p-2">
              <div class="flex items-center gap-x-10 text-xs text-gray-500">
                <time datetime={post.datetime}>{post.datetime}</time>
                <span class="rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">
                  {post.typeOf}
                </span>
              </div>
              <div class="mt-3 group">
                <h3 class="text-lg font-semibold text-gray-900 group-hover:text-gray-600">
                  <a href={post.link}>{post.heading}</a>
                </h3>
                <p class="mt-5 text-sm text-gray-600">{post.content}</p>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div> -->

  <!-- Few tutorial -->
  <Tutorial client:load />

  <!-- <div class="relative overflow-hidden">
    <div
      class="absolute w-60 h-60 bg-fuchsia-100 rounded-full filter blur-3xl opacity-30 top-10 left-20"
    >
    </div>
    <div
      class="absolute w-60 h-60 bg-green-200 rounded-full filter blur-3xl opacity-30 top-32 right-32"
    > -->

  <publication></publication>
  <!-- Publications Section -->
  <!--
    <section class="py-12 bg-white">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center">Publications</h2>
	<Publications />
      </div>
    </section>
-->
  <!-- Funders Section -->
  <div class="bg-white py-10 sm:py-15" id="funders">
    <div class="mx-auto max-w-7xl px-5 py-3 lg:px-8 sm:text-center">
      <h2 class="text-4xl flex-initial transform-border font-semibold text-black text-center p-2">
        Funders
      </h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-6 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-5 lg:max-w-none lg:grid-cols-5"
      >
        {
          funders.map((funder) => (
            <Image
              class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
              src={funder.src}
              alt={funder.name}
              width={158}
              height={48}
            />
          ))
        }
      </div>
    </div>
  </div>

  <!-- Call to Action Section -->
  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
          <h3 class="text-xl text-text-primary font-semibold mb-3">
            Read Our Blogs
          </h3>
          <p class="text-text-subtle font-normal mb-4">
            Explore insights, updates, and stories on our Software and
            community.
          </p>
          <a
            href="/blogs"
            class="text-brand-tertiary hover:border-b-2 hover:border-highlight-neon inline-flex items-center"
            >Learn more <span class="ml-1">→</span></a
          >
        </div>
        <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
          <h3 class="text-xl text-text-primary font-semibold mb-3">Events</h3>
          <p class="text-text-subtle font-normal mb-4">
            Explore insights, updates, and stories here.
          </p>
          <a
            href="/workshops"
            class="text-brand-tertiary hover:border-b-2 hover:border-highlight-neon inline-flex items-center"
            >Learn more <span class="ml-1">→</span></a
          >
        </div>
        <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
          <h3 class="text-xl text-text-primary font-semibold mb-3">
            Discussion and Support
          </h3>
          <p class="text-text-subtle font-normal mb-4">
            Discussions related to MOOSE. Find help, ask questions, and share.
          </p>
          <a
            href="/community#support"
            class="text-brand-tertiary hover:border-b-2 hover:border-highlight-neon inline-flex items-center"
            >Learn more <span class="ml-1">→</span></a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
<script>
  const nav = document.getElementsByTagName("header")[0];
  nav.classList.remove("bg-black");
  window.addEventListener("scroll", function () {
    if (window.scrollY > 0) {
      nav.classList.add("bg-black");
    } else {
      nav.classList.remove("bg-black");
    }
  });
</script>