---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_URL } from "../constants";
import { funders } from "../assets/funders/funders";
import { supportedBy } from "../assets/supportedBy/supportedBy.ts";
import Moose_Multiscale from "../assets/Gallery_Moose_Multiscale.webp";
import { Image } from "astro:assets";
import Tutorial from "../components/start.jsx";
import traub from "../assets/Traub2005.mp4";
import Publication from "../components/publication.astro";
import Features from "../components/features.tsx";
import Tutorials from "@/components/Tutorials.astro";
import InfoCard from "../components/InfoCard.astro";
import NIH_logo from "../assets/NIH_2013_logo_vertical.svg";
import NCBS_logo from "../assets/funders/NCBS-Logo.jpg";

const callToActionItems = [
  {
    title: "Read Our Blogs",
    description: "Explore insights, updates, and stories here.",
    href: "/blogs",
  },
  {
    title: "Events",
    description: "Workshops and events featuring MOOSE.",
    href: "/workshops",
  },
  {
    title: "Discussion and Support",
    description:
      "Discussions related to MOOSE. Find help, ask questions, and share.",
    href: "/community#support",
  },
];
---

<BaseLayout title="Home" transparentNav={true}>
  <div
    class="relative isolate overflow-hidden
         flex items-center justify-center
         min-h-[80vh] sm:min-h-screen
         py-16 sm:py-0"
  >
    <!-- Background Video -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 -z-1 w-full h-full p-2 bg-black object-center"
    >
      <source src={traub} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <!-- Overlay -->
    <div class="absolute inset-0 -z-10 bg-black/40"></div>

    <!-- Foreground Content -->
    <div class="w-full px-4 sm:px-6">
      <div class="mx-auto max-w-3xl text-center">
        <h1
          class="text-5xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-7xl font-bold text-white inset-1 break-words"
          style="text-shadow: 0 0 15px rgba(255,255,255,0.3);"
        >
          Multiscale Object Oriented Simulation Environment
        </h1>

        <div class="p-1">
          <p
            class="mt-6 backdrop-blur-xs bg-radial text-base sm:text-lg md:text-xl text-white max-w-xl mx-auto"
          >
            Designed to simulate neural systems at every scale. From subcellular
            components and biochemical reactions to complex models of individual
            neurons, neural circuits, and large-scale neuronal networks.
          </p>
        </div>

        <div class="mt-10 flex flex-col items-center justify-center gap-4">
          <div class="flex flex-wrap gap-6 justify-center">
            <button
              type="button"
              class="inline-flex transition-all text-white bg-brand-tertiary inset-1 hover:bg-brand-primary focus:outline-none focus:ring-4 focus:ring-blue-600 font-normal rounded-lg text-base px-5 py-2.5"
            >
              <a
                href="https://moose.readthedocs.io/en/latest/user/py/quickstart/moose_quickstart.html"
                class="group group-hover:from-purple-600 group-hover:to-brand-primary"
              >
                Get started
              </a>
            </button>
            <button
              class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-black rounded-lg group bg-gradient-to-br from-brand-primary to-brand-tertiary hover:text-white focus:ring-4 focus:outline-4 focus:ring-red-900"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent"
              >
                <a
                  href="https://moose.readthedocs.io/en/latest/index.html"
                  class="group group-hover:from-purple-600 group-hover:to-brand-primary"
                >
                  Learn more →
                </a>
              </span>
            </button>
          </div>
          <div>
            <button>
              <div class="relative group">
                <a
                  id="jardesigner-button"
                  href="https://jardesigner.mooseneuro.org"
                  class="inline-flex items-center justify-center p-0.5 w-48 overflow-hidden text-xl font-bold text-white rounded-lg bg-gradient-to-br from-brand-primary to-brand-tertiary hover:from-purple-600 hover:to-brand-primary hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                >
                  <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                  >
                    Jardesigner
                  </span>
                </a>
                <div
                  id="jardesigner-tooltip"
                  class="absolute z-50 left-full top-1/2 -translate-y-1/2 ml-3 w-max bg-gray-900 text-white text-sm px-3 py-2 rounded whitespace-nowrap opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
                >
                  A web-based GUI for MOOSE
                  <div
                    class="absolute right-full top-1/2 -translate-y-1/2 border-8 border-transparent border-r-gray-900"
                  >
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Features section -->
  <Features />

  <!-- <Tutorials /> -->
  <!-- Few tutorial -->
  <!-- <Tutorial client:load /> -->

  <!-- Publications Section -->

  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <Publication />
    </div>
  </section>
  <!-- Funders, Supported By, and Past Funder Sections -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-8 bg-white">
    <!-- Funders Section -->
    <div class="md:col-span-2 p-10" id="funders">
      <h2 class="text-3xl sm:text-4xl font-semibold text-black mb-6 sm:mb-8 text-center">
        Funders
      </h2>
      <div class="flex flex-wrap md:flex-nowrap gap-x-4 gap-y-6 sm:gap-x-8 sm:gap-y-10 place-items-center">
        {funders.map((funder) => (
          <div class="flex items-center justify-center w-full">
            <img
              class="h-18 w-auto object-contain mx-auto"
              src={funder.src.src}
              alt={funder.name}
              width={200}
              height={200}
              loading="lazy"
            />
          </div>
        ))}
      </div>
    </div>

    <!-- Supported By Section -->
    <div class="p-10" id="supportedBy">
      <h2 class="text-3xl sm:text-4xl font-semibold text-black mb-6 sm:mb-8 text-center">
        Supported By
      </h2>
      <div class="flex flex-wrap md:flex-nowrap gap-x-4 gap-y-6 sm:gap-x-8 sm:gap-y-10 place-items-center">
        {supportedBy.map((supporter) => (
          <div class="flex items-center justify-center w-full">
            <img
              class="h-18 w-auto object-contain mx-auto"
              src={supporter.src.src}
              alt={supporter.name}
              width={200}
              height={200}
              loading="lazy"
            />
          </div>
        ))}
      </div>
    </div>

    <!-- Past Funder Section -->
    <div class="p-10" id="pastfunders">
      <h2 class="text-3xl sm:text-4xl font-semibold text-black mb-6 sm:mb-8 text-center">
        Past Funders
      </h2>
      <div class="flex flex-wrap md:flex-nowrap gap-x-4 gap-y-6 sm:gap-x-8 sm:gap-y-10 place-items-center">
        <div class="flex items-center justify-center w-full">
          <img
            class="h-18 w-auto object-contain mx-auto"
            src={NIH_logo.src}
            alt="NIH"
            width={200}
            height={200}
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action Section -->
  <!-- <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
          callToActionItems.map((item) => (
            <InfoCard
              title={item.title}
              description={item.description}
              href={item.href}
            />
          ))
        }
      </div>
    </div>
  </section> -->
</BaseLayout>


