---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_URL } from "../constants";
import { funders } from "../assets/funders/funders";
import Moose_Multiscale from "../assets/Gallery_Moose_Multiscale.webp";
import { Image } from "astro:assets";
import Tutorial from "../components/start.jsx";
import traub from "../assets/Traub2005.mp4";
---

<BaseLayout title="Home">
  <!-- Hero section -->

  <div class="relative h-full isolate px-6 pt-2 pb-24 lg:px-8">
    <!-- Background Video -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute inset-0 -z-1 w-full h-full p-2 bg-black object-fit object-center opacity-100"
    >
      <source src={traub} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <!-- Overlay inset-0.25-->
    <div class="absolute inset-0.25 -z-10 bg-black/.10"></div>

    <!-- Foreground Content-->
    <div class="flex items-center justify-center min-h-screen px-4">
      <div class="max-w-2xl w-full text-center py-20 sm:py-24">
        <h1
          class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-7xl font-bold text-stone-50 break-words"
          style="text-shadow: 0 0 15px rgba(255,255,255,0.3);"
        >
          Multiscale Object Oriented Simulation Environment
        </h1>

        <div class="p-1">
          <p
            class="mt-6 backdrop-blur-xs bg-radial text-base sm:text-lg md:text-xl text-stone-100 max-w-xl mx-auto"
          >
            Designed to simulate neural systems ranging from subcellular
            components and biochemical reactions to complex models of single
            neurons, circuits, and large networks.
          </p>
        </div>

        <div
          class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-4"
        >
          <a
            href="https://moose.readthedocs.io/en/latest/user/py/quickstart/moose_quickstart.html"
            class="rounded-md bg-indigo-600 px-5 py-3 text-sm font-semibold text-white hover:bg-indigo-500 shadow-md"
          >
            Get started
          </a>
          <a
            href="https://moose.readthedocs.io/en/latest/index.html"
            class="text-sm font-semibold text-black bg-white rounded-md hover:text-indigo-600 px-5 py-3"
          >
            Learn more →
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Features -->

  <!--features -->
  <div class="bg-white py-10 sm:py-14" id="features">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p
          class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-blue-900 sm:text-5xl lg:text-balance"
        >
          MOOSE Features
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  viewBox="0 0 64 64"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  stroke="#ffffff"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><rect x="8" y="40" width="12" height="12"></rect><rect
                      x="40"
                      y="40"
                      width="12"
                      height="12"></rect><rect
                      x="24"
                      y="8"
                      width="12"
                      height="12"></rect><polyline
                      points="48 40 48 32 16 32 16 40"></polyline><line
                      x1="32"
                      y1="32"
                      x2="32"
                      y2="24"></line></g
                  ></svg
                >
              </div>
              Modeling across domains
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Supports both biochemistry and biophysics for integrated
              simulations.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 9.75 16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z"
                  ></path>
                </svg>
              </div>
              Scalability
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Built-in solvers with optimized data structures and algorithms
              models efficiently, yet maintain a biologically meaningful view
              for the user
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  width="256px"
                  height="256px"
                  viewBox="0 0 21 21"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#000000"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g
                      fill="none"
                      fill-rule="evenodd"
                      stroke="#ffffff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      transform="translate(5 5)"
                    >
                      <path d="m10.5 4.5v-3.978l-4-.022"></path>
                      <path d="m4.5 10.523h-4v-4.023"></path>
                    </g>
                  </g>
                </svg>
              </div>
              Multiscale Capability
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Enables seamless modeling and reaction-diffusion systems to
              multi-compartmental neuron models and large-scale biological
              neural networks
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
                  ></path>
                </svg>
              </div>
              Model Switching
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Easily toggles between deterministic and stochastic simulation
              modes for biochemical models.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  class="size-6 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                  ></path>
                </svg>
              </div>
              Format Support
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Handles multiple model formats, including SBML, NeuroML, and
              GENESIS(kkit, cell.p) Data can be saved in text, HDF5 based NSDF,
              or any other format compatible with numpy arrays
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-indigo-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"
                  ></path>
                </svg>
              </div>
              Rdesigneur
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Simplifies the model-building process for faster creation and
              testing of integration models using a library of prototype
              components
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="relative overflow-hidden">
    <div
      class="absolute w-60 h-60 bg-fuchsia-100 rounded-full filter blur-3xl opacity-30 top-10 left-20"
    >
    </div>
    <div
      class="absolute w-60 h-60 bg-green-200 rounded-full filter blur-3xl opacity-30 top-32 right-32"
    >
    </div>
    <!-- Tutorials List -->
    <section class="py-10">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center" id="#tutorials">
          Tutorials
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="bg-gray-50 p-6 rounded-lg shadow-sm">
            <h3 class="mb-3 text-3xl font-semibold">
              Single Neuron Electrical Aspects
            </h3>
            <p class="text-gray-600 mb-4">
              Neurons modeled as equivalent electrical circuits.
            </p>
            <a
              href="https://moose.ncbs.res.in/readthedocs/user/py/cookbook/elec.html"
              class="text-blue-600 hover:text-purple-800 inline-flex items-center"
              >Learn more →</a
            >
          </div>
          <div class="bg-gray-50 p-6 rounded-lg shadow-sm">
            <h3 class="text-3xl font-semibold mb-3">Chemical Bistables</h3>
            <p class="text-gray-600 mb-4">
              A bistable system has two stable equilibrium states.
            </p>
            <a
              href="https://moose.ncbs.res.in/readthedocs/user/py/tutorials/ChemicalBistables.html"
              class="text-blue-600 hover:text-purple-800 inline-flex items-center"
              >Learn more →</a
            >
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- News Section
  <div class="bg-white py-10">
    <div class="mx-auto max-w-7xl px-6">
      <div class="mx-auto py-2 max-w-2xl">
        <h2 class="text-4xl font-semibold  text-gray-900">
          News
        </h2>
      </div>
      <div
        class="mt-10 grid grid-cols-1 gap-6 border-t border-gray-200 pt-10 bg-blue-50"
      >
        {
          events.map((post) => (
            <article class="flex flex-col max-w-xl p-2">
              <div class="flex items-center gap-x-10 text-xs text-gray-500">
                <time datetime={post.datetime}>{post.datetime}</time>
                <span class="rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">
                  {post.typeOf}
                </span>
              </div>
              <div class="mt-3 group">
                <h3 class="text-lg font-semibold text-gray-900 group-hover:text-gray-600">
                  <a href={post.link}>{post.heading}</a>
                </h3>
                <p class="mt-5 text-sm text-gray-600">{post.content}</p>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div> -->

  <!-- Few tutorial -->
  <Tutorial client:load />

  <!-- <div class="relative overflow-hidden">
    <div
      class="absolute w-60 h-60 bg-fuchsia-100 rounded-full filter blur-3xl opacity-30 top-10 left-20"
    >
    </div>
    <div
      class="absolute w-60 h-60 bg-green-200 rounded-full filter blur-3xl opacity-30 top-32 right-32"
    > -->


<!-- Publications Section -->
<!--
    <section class="py-12 bg-white">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center">Publications</h2>
	<Publications />
      </div>
    </section>
-->
<!-- Funders Section -->
<div class="bg-white py-10 sm:py-15" id="funders">
  <div class="mx-auto max-w-7xl px-5 py-3 lg:px-8 sm:text-center">
    <h2 class="text-3xl font-semibold text-gray-900 sm:text-4xl">Funders</h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-6 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-5 lg:max-w-none lg:grid-cols-5"
    >
      {
        funders.map((funder) => (
          <Image
            class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
            src={funder.src}
            alt={funder.name}
            width="158"
            height="48"
          />
        ))
      }
    </div>
  </div>
</div>

<!-- Call to Action Section -->
<section class="py-12 bg-white">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-3">Blog</h3>
        <p class="text-gray-600 mb-4">
          Explore insights, updates, and stories on our Software and community.
        </p>
        <a
          href="/blogs"
          class="text-blue-600 hover:text-blue-800 inline-flex items-center"
          >Learn more <span class="ml-1">→</span></a
        >
      </div>
      <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-3">Events</h3>
        <p class="text-gray-600 mb-4">
          Explore workshops, webinars, and neuroscience events.
        </p>
        <a
          href="/workshops"
          class="text-blue-600 hover:text-blue-800 inline-flex items-center"
          >Learn more <span class="ml-1">→</span></a
        >
      </div>
      <div class="bg-blue-50 p-6 rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-3">Discussion and support</h3>
        <p class="text-gray-600 mb-4">
          Discussions related to MOOSE. Find help, ask questions, and share.
        </p>
        <a
          href="/community#support"
          class="text-blue-600 hover:text-blue-800 inline-flex items-center"
          >Learn more <span class="ml-1">→</span></a
        >
      </div>
    </div>
  </div>
</section>
</BaseLayout>
