---
import "../styles/global.css";
import "../main.js";
import Footer from "../components/footer.astro";
import { SITE_TITLE } from "../constants";
import Navbar from "../components/navbar.tsx";
import { seoData } from "../data/schema";
import Banner from "@/components/banner";
import DiscussionButton from "@/components/ui/DiscussionButton.jsx";
interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
}

const {
  title = "Multiscale Object-Oriented Simulation Environment",
  description = "Multiscale Object-Oriented Simulation Environment (MOOSE) It is designed to simulate neural systems ranging from subcellular components and biochemical reactions to complex models of single neurons, circuits, and large networks. MOOSE can operate at many levels of detail, from stochastic chemical computations, to multicompartment single-neuron models, to spiking neuron network models MOOSE is a simulation environment, not just a numerical engine. It provides the essentials by way of object-oriented representations of model concepts and fast numerical solvers, but its scope is much broader. It has a scripting interface with Python, graphical displays with Matplotlib, PyQt, and OpenGL, and support for many model formats",
  url = "https://mooseneuro.github.io",
  image = "https://mooseneuro.github.io/moose_logo.png",
} = Astro.props;

const fullTitle = `${SITE_TITLE} | ${title}`;
---

<!doctype html>
<html lang="en" class="!scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/moose_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="MOOSE, Multiscale, Object-Oriented, Simulation, Environment, Neuroscience, Computational Neuroscience"
    />

    <!-- Open Graph -->
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />
    {
      seoData.map((entry, i) => (
        <script
          type="application/ld+json"
          key={i}
          set:html={JSON.stringify(entry)}
        />
      ))
    }
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="ZdYKUM9RmgkiehJGih7Yw3goFaqWYwVo8Z0M_M_P8JQ"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>{fullTitle}</title>
  </head>
  <body>
    <Banner client:load />
    <nav><Navbar client:load /></nav>
    <slot />
    <DiscussionButton client:load />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
